In [1]:
import camelot
import os
import ctypes

In [2]:
#os.chdir('C:\\Users\\WIN10\\Desktop\\TASKS\\siftah')
#tables2=camelot.read_pdf('YLB.pdf', flavor='stream', pages='0-8')
#tables2

In [32]:
tables = camelot.read_pdf('YLB MAYIS.pdf', flavor='stream', pages='all')

In [15]:
type(tables)

camelot.core.TableList

In [20]:
len(tables)

12

In [22]:
tables[0].parsing_report

{'accuracy': 100.0, 'whitespace': 0.76, 'order': 1, 'page': 0}

In [4]:
tables2[2].parsing_report

{'accuracy': 99.89, 'whitespace': 47.97, 'order': 1, 'page': 1}

In [5]:
df2=tables2[2].df
df2

,0,1,2
0,B. KURUCUNUN UNVANI,:,YAPI KREDİ PORTFÖY YÖNETİMİ A.Ş.
1,C. YÖNETİCİNİN UNVANI ...,,YAPI KREDİ PORTFÖY YÖNETİMİ A.Ş.
2,Ç. TOPLAM DEĞER/NET \n:,,"5,233,487,628.81"
3,VARLIK DEĞERİ,,
4,:\n D. KATILMA PAYI SAYISI,,"13,217,388,747.00"
5,:\n E. FONUN KURULUŞ TARİHİ,,29.06.2000
6,:\n F. FONUN SÜRESİ,,Süresiz
7,II- FONUN PERFORMANSINA,,TL
8,İLİŞKİN BİLGİLER,,
9,A. AY SONU KATILMA PAYI \n:,,0.395955
10,FİYATI,,
11,B. ÖNCEKİ AY KATILMA \n:,,0.390243
12,PAYI FİYATI,,
13,C. AYLIK KATILMA PAYI \n:,,1.46%
14,FİYATI ARTIŞ ORANI,,
15,Ç. YILBAŞINA GÖRE FİYAT \n:,,5.33%
16,ARTIŞ ORANI,,
17,D. YILLIK KATILMA PAYI \n:,,17.60%
18,FİYATI ARTIŞ ORANI,,
19,E. AYLIK ORTALAMA,,
20,PORTFÖYDEKİ,,
21,MENKUL KIYMETLER \n:,,
22,YÜZDESİ,,
23,Özel Sektör Tahvili,,36.95%
24,Devlet Tahvili Ters Repo,,7.27%
25,Takasbank Para Piyasası,,17.20%
26,Vadeli Mevduat,,34.00%
27,Katılım Hesabı,,4.53%
28,VDMK,,0.05%
29,F. AYLIK ORTALAMA \n:,,11.08%
30,PORTFÖY DEVİR HIZI,,
31,G. PORTFÖYÜN ORTALAMA \n:,,31.365
32,VADESİ,,
33,Ğ. KATILMA PAYI \n:,,"9,989,996,330.74"
34,İHRAÇLARINDAN,,
35,KAYNAKLANAN NAKİT,,
36,GİRİŞLERİ,,
37,H. KATILMA PAYI \n:,,"10,217,304,968.60"
38,İADELERİNDEN,,
39,KAYNAKLANAN NAKİT,,
40,ÇIKIŞLARI,,

In [6]:
tables2[3]
tables2[3].parsing_report

{'accuracy': 100.0, 'whitespace': 0.0, 'order': 1, 'page': 2}

In [7]:
df3=tables2[3].df
df3

,0,1,2,3,4,5,6
0,TRFAKFK82217,TRFAKFK82217,26.08.2022,AKFINANSAL,"6,500,000.00","6,144,190.00",0.12
1,TRFDNFK62217,TRFDNFK62217,10.06.2022,DENIZFINANS,"8,000,000.00","7,860,720.00",0.15
2,TRFDZBK62236,TRFDZBK62236,01.06.2022,DENIZBANK,"50,000,000.00","49,380,000.00",0.94
3,TRFDZBK62244,TRFDZBK62244,17.06.2022,DENIZBANK,"69,600,000.00","68,162,064.00",1.30
4,TRFDZBK82226,TRFDZBK82226,03.08.2022,DENIZBANK,"30,000,000.00","28,751,100.00",0.55
5,TRFDZBK92217,TRFDZBK92217,09.09.2022,DENIZBANK,"30,000,000.00","28,172,700.00",0.54
6,TRFDZFK62211,TRFDZFK62211,08.06.2022,DENIZFAKTORING,"12,000,000.00","11,806,440.00",0.23
7,TRFDZFK72210,TRFDZFK72210,29.07.2022,DENIZFAKTORING,"12,750,000.00","12,229,545.00",0.23
8,TRFFNBK52253,TRFFNBK52253,20.05.2022,FINANSBANK,"15,000,000.00","14,891,550.00",0.28
9,TRFFNBK62211,TRFFNBK62211,10.06.2022,FINANSBANK,"13,000,000.00","13,104,650.00",0.25
10,TRFFNBK62237,TRFFNBK62237,03.06.2022,FINANSBANK,"13,400,000.00","13,193,238.00",0.25
11,TRFFNBK62245,TRFFNBK62245,03.06.2022,FINANSBANK,"34,600,000.00","34,114,562.00",0.65
12,TRFFNBK62252,TRFFNBK62252,10.06.2022,FINANSBANK,"50,000,000.00","49,128,500.00",0.94
13,TRFFNBK62260,TRFFNBK62260,17.06.2022,FINANSBANK,"43,000,000.00","42,157,200.00",0.80
14,TRFFNBK62278,TRFFNBK62278,17.06.2022,FINANSBANK,"75,000,000.00","73,455,000.00",1.40
15,TRFGRFA52239,TRFGRFA52239,31.05.2022,GARANTIFAKTORING,"44,600,000.00","44,036,702.00",0.84
16,TRFISFA62216,TRFISFA62216,21.06.2022,ISFAKTORING,"15,000,000.00","14,657,400.00",0.28
17,TRFISFA72215,TRFISFA72215,01.07.2022,ISFAKTORING,"23,200,000.00","22,571,512.00",0.43
18,TRFISFA82214,TRFISFA82214,02.08.2022,ISFAKTORING,"35,000,000.00","33,511,450.00",0.64
19,TRFISFN62219,TRFISFN62219,14.06.2022,ISFINANS,"25,000,000.00","24,519,250.00",0.47
20,TRFISFN62243,TRFISFN62243,03.06.2022,ISFINANS,"31,870,000.00","31,422,863.90",0.60
21,TRFISFN72218,TRFISFN72218,26.07.2022,ISFINANS,"39,100,000.00","37,596,996.00",0.72
22,TRFISFN72226,TRFISFN72226,04.07.2022,ISFINANS,"37,600,000.00","36,512,984.00",0.70
23,TRFISFN72234,TRFISFN72234,07.07.2022,ISFINANS,"44,000,000.00","42,667,240.00",0.81
24,TRFISFN72259,TRFISFN72259,20.07.2022,ISFINANS,"25,930,000.00","24,979,406.20",0.48
25,TRFISFN82233,TRFISFN82233,22.08.2022,ISFINANS,"10,090,000.00","9,576,822.60",0.18
26,TRFISMD52217,TRFISMD52217,06.05.2022,ISYATIRIM,"20,000,000.00","19,990,800.00",0.38
27,TRFISMD52225,TRFISMD52225,06.05.2022,ISYATIRIM,"50,000,000.00","49,975,500.00",0.95
28,TRFISMD52233,TRFISMD52233,09.05.2022,ISYATIRIM,"70,000,000.00","69,863,500.00",1.33
29,TRFISMD52258,TRFISMD52258,18.05.2022,ISYATIRIM,"50,000,000.00","49,683,500.00",0.95
30,TRFISMD52274,TRFISMD52274,27.05.2022,ISYATIRIM,"75,000,000.00","74,197,500.00",1.42
31,TRFKCTF72215,TRFKCTF72215,13.07.2022,KOCTUKETICI,"4,600,000.00","5,340,140.00",0.10
32,TRFKCTF72223,TRFKCTF72223,07.07.2022,KOCTUKETICI,"7,000,000.00","7,482,860.00",0.14
33,TRFKFTF72218,TRFKFTF72218,20.07.2022,KOCFIAT,"10,000,000.00","10,666,600.00",0.20
34,TRFTEBK52212,TRFTEBK52212,20.05.2022,TEB,"224,000,000.00","222,434,240.00",4.24
35,TRFTEBK62211,TRFTEBK62211,03.06.2022,TEB,"100,000,000.00","98,670,000.00",1.88
36,TRFTHAL52223,TRFTHAL52223,13.05.2022,THALKBANKASI,"22,000,000.00","21,918,380.00",0.42
37,TRFVKFB72221,TRFVKFB72221,22.07.2022,VAKIFBANK,"30,120,000.00","29,038,993.20",0.55
38,TRFYAKF62210,TRFYAKF62210,07.06.2022,YAPIKREDIFAKTORING,"9,000,000.00","8,854,920.00",0.17
39,TRFYAKF62228,TRFYAKF62228,21.06.2022,YAPIKREDIFAKTORING,"5,500,000.00","5,375,040.00",0.10
40,TRFYAKF72219,TRFYAKF72219,06.07.2022,YAPIKREDIFAKTORING,"5,000,000.00","4,850,000.00",0.09
41,TRFYKBK52219,TRFYKBK52219,20.05.2022,YAPIKREDIBANK,"57,000,000.00","57,719,910.00",1.10
42,TRFYKBK52243,TRFYKBK52243,16.05.2022,YAPIKREDIBANK,"65,000,000.00","64,660,050.00",1.23
43,TRFYKBK62226,TRFYKBK62226,10.06.2022,YAPIKREDIBANK,"80,000,000.00","78,624,800.00",1.50

In [8]:
tables2[5]
tables2[5].parsing_report

{'accuracy': 99.86, 'whitespace': 38.32, 'order': 1, 'page': 3}

In [9]:
df5=tables2[5].df
df5

,0,1,2,3,4,5,6,7
0,TRFYKBK62242,,TRFYKBK62242,27.06.2022,YAPIKREDIBANK,"25,000,000.00","24,364,750.00",0.46
1,TRFYKBK72225,,TRFYKBK72225,29.07.2022,YAPIKREDIBANK,"40,000,000.00","38,432,400.00",0.73
2,TRFYKBK72233,,TRFYKBK72233,22.07.2022,YAPIKREDIBANK,"50,000,000.00","48,193,000.00",0.92
3,TRFYKBK82216,,TRFYKBK82216,05.08.2022,YAPIKREDIBANK,"30,000,000.00","28,727,400.00",0.55
4,TRFYKYM62216,,TRFYKYM62216,15.06.2022,YAPIKREDIYATIRIM,"21,000,000.00","20,585,880.00",0.39
5,TOPLAM,,,,,"1,894,460,000.00","1,862,212,248.90",35.53
6,F) ÖZEL SEKTÖR,:,,,,,,
7,TAHVİLLERİ,,,,,,,
8,TRSARCL42313,,TRSARCL42313,27.04.2023,ARCELIK,"58,000,000.00","58,124,700.00",1.11
9,TRSARCL42412,,TRSARCL42412,05.04.2024,ARCELIK,"50,000,000.00","50,697,500.00",0.97
10,TRSYKBKE2219,,TRSYKBKE2219,14.10.2022,YAPIKREDIBANK,"20,000,000.00","19,983,400.00",0.38
11,TOPLAM,,,,,"128,000,000.00","128,805,600.00",2.46
12,N) TERS REPO,:,,,,,,
13,TRT171127T15,,TRT171127T15,05.05.2022,Hazine ve Maliye Bakanlığı,"284,311.00","290,570.62",0.01
14,TRT171127T15,,TRT171127T15,05.05.2022,Hazine ve Maliye Bakanlığı,"249,997,553.00","255,613,257.56",4.88
15,TOPLAM,,,,,"250,281,864.00","255,903,828.18",4.88
16,O) TAKASBANK PARA,:,,,,,,
17,PİYASASI,,,,,,,
18,BPP,,,06.05.2022,,"15,203,424.66","15,196,599.60",0.29
19,BPP,,,10.05.2022,,"15,230,547.95","15,196,422.90",0.29
20,BPP,,,12.05.2022,,"10,162,739.73","10,130,889.81",0.19
21,BPP,,,06.05.2022,,"50,655,479.45","50,632,734.31",0.97
22,BPP,,,09.05.2022,,"50,700,684.93","50,609,725.11",0.97
23,BPP,,,13.05.2022,,"21,284,794.52","21,208,473.81",0.40
24,BPP,,,16.05.2022,,"38,566,876.71","38,376,984.38",0.73
25,BPP,,,18.05.2022,,"18,284,794.52","18,178,491.47",0.35
26,BPP,,,20.05.2022,,"50,836,301.36","50,495,587.43",0.96
27,BPP,,,16.05.2022,,"25,361,643.84","25,236,742.49",0.48
28,BPP,,,17.05.2022,,"23,343,109.58","23,217,754.25",0.44
29,BPP,,,18.05.2022,,"30,461,095.89","30,283,963.56",0.58
30,BPP,,,12.05.2022,,"25,271,232.88","25,191,820.73",0.48
31,BPP,,,13.05.2022,,"25,282,534.25","25,191,777.60",0.48
32,BPP,,,06.05.2022,,"100,629,041.10","100,583,978.66",1.92
33,BPP,,,25.05.2022,,"8,630,643.84","8,551,228.01",0.16
34,BPP,,,26.05.2022,,"50,791,780.82","50,301,271.71",0.96
35,BPP,,,27.05.2022,,"30,489,041.10","30,180,721.37",0.58
36,BPP,,,05.05.2022,,"10,038,835.62","10,038,835.62",0.19
37,BPP,,,06.05.2022,,"20,086,301.37","20,077,654.50",0.38
38,BPP,,,09.05.2022,,"20,112,191.78","20,077,604.36",0.38
39,BPP,,,31.05.2022,,"50,791,780.82","50,185,183.75",0.96
40,BPP,,,05.05.2022,,"51,167,123.29","51,167,123.29",0.98
41,BPP,,,05.05.2022,,"51,060,273.97","51,060,273.97",0.97
42,TOPLAM,,,,,,"791,371,842.69",15.10
43,Ö) VADELİ MEVDUAT,:,,,,,,
44,Vadeli Mevduat gün 35,,,24.05.2022,İş Bankası,"200,000,000.00","201,483,871.27",3.84
45,Vadeli Mevduat gün 42,,,10.05.2022,Yapı ve Kredi Bankası,"157,310,136.99","160,081,546.94",3.05

In [10]:
tables2[7]
tables2[7].parsing_report

{'accuracy': 100.0, 'whitespace': 25.71, 'order': 1, 'page': 4}

In [11]:
df7=tables2[7].df
df7

,0,1,2,3,4,5,6
0,Vadeli Mevduat gün 42,,10.05.2022,Odea Bank,"52,061,446.05","52,983,903.15",1.01
1,Vadeli Mevduat gün 47,,10.05.2022,TC Ziraat Bankası,"227,985,132.22","232,439,744.68",4.44
2,Vadeli Mevduat gün 47,,10.05.2022,Türk Ekonomi Bankası,"144,959,370.72","147,874,945.65",2.82
3,Vadeli Mevduat gün 47,,10.05.2022,Türkiye Vakıflar Bankası,"165,887,710.56","169,224,218.22",3.23
4,Vadeli Mevduat gün 58,,23.06.2022,Yapı ve Kredi Bankası,"90,000,000.00","90,380,617.96",1.72
5,Vadeli Mevduat gün 58,,23.06.2022,Türkiye Vakıflar Bankası,"64,165,235.72","64,438,915.17",1.23
6,Vadeli Mevduat gün 58,,23.06.2022,Türkiye Halk Bankası,"234,964,438.16","235,966,615.40",4.50
7,Vadeli Mevduat gün 58,,23.06.2022,Akbank,"250,000,000.00","251,051,246.68",4.79
8,Vadeli Mevduat gün 58,,23.06.2022,Deniz Bank A.Ş.,"250,000,000.00","251,051,246.68",4.79
9,Vadeli Mevduat gün 58,,23.06.2022,Türk Ekonomi Bankası,"103,047,524.11","103,484,562.78",1.97
10,TOPLAM,,,,,"1,960,461,434.58",37.41
11,P) KATILIM HESABI - TL,:,,,,,
12,Katılım Hesabı gün 36,,10.05.2022,,"30,000,000.00","30,442,817.66",0.58
13,Katılım Hesabı gün 42,,10.05.2022,,"208,146,137.73","211,813,150.48",4.04
14,TOPLAM,,,,,"242,255,968.14",4.62

In [12]:
tables2[9]
tables2[9].parsing_report

{'accuracy': 99.98, 'whitespace': 53.5, 'order': 1, 'page': 5}

In [13]:
df9=tables2[9].df
df9

,0,1,2,3,4,5,6,7
0,VI-A-GEÇEN AY İÇİNDE,,,,,,,
1,RÜÇHAN HAKKI,,,,,,,
2,"KULLANIMI, BEDELSİZ",,,,,,,
3,"HİSSE SENEDİ ALIMI,",,,,,,,
4,TEMETTÜ VE ANAPARA,,,,,,,
5,TAHSİLATINA,,,,,,,
6,İLİŞKİN AÇIKLAMALAR,:,,,,,,
7,Açıklama,,Giriş Tarihi,Stok,Kazanılan Nominal,,,
8,B- GEÇEN AY İÇİNDE,,,,,,,
9,YATIRIM FONLARINA,,,,,,,
10,İLİŞKİN,,,,,,,
11,MEVZUATTA MEYDANA,,,,,,,
12,GELEN,,,,,,,
13,DEĞİŞME VE HUKUKİ,,,,,,,
14,İHTİLAFLARLA,,,,,,,
15,İLGİLİ AÇIKLAMALAR:,:,,,,,,
16,VII- PORTFÖYDEN SATIŞLAR,:,,,,,,
17,Menkul Kıymet Türü,,İhraçcı Kurum,Satış Tarihi,Vade,Nominal,Satış Değeri,
18,Takasbank Para Piyasası,,,01.04.2022,04.04.2022,"100,000,000.00","100,000,000.00",
19,Takasbank Para Piyasası,,,04.04.2022,14.04.2022,"45,000,000.00","45,000,000.00",
20,Takasbank Para Piyasası,,,04.04.2022,15.04.2022,"50,000,000.00","50,000,000.00",
21,Takasbank Para Piyasası,,,04.04.2022,18.04.2022,"50,000,000.00","50,000,000.00",
22,Takasbank Para Piyasası,,,04.04.2022,08.04.2022,"50,000,000.00","50,000,000.00",
23,Takasbank Para Piyasası,,,04.04.2022,13.04.2022,"65,000,000.00","65,000,000.00",
24,Takasbank Para Piyasası,,,05.04.2022,20.04.2022,"50,000,000.00","50,000,000.00",
25,Takasbank Para Piyasası,,,05.04.2022,21.04.2022,"41,000,000.00","41,000,000.00",
26,Takasbank Para Piyasası,,,06.04.2022,06.05.2022,"15,000,000.00","15,000,000.00",
27,Takasbank Para Piyasası,,,06.04.2022,10.05.2022,"15,000,000.00","15,000,000.00",
28,Takasbank Para Piyasası,,,06.04.2022,12.05.2022,"10,000,000.00","10,000,000.00",
29,Takasbank Para Piyasası,,,06.04.2022,13.04.2022,"49,383,000.00","49,383,000.00",
30,Takasbank Para Piyasası,,,06.04.2022,15.04.2022,"50,000,000.00","50,000,000.00",
31,Takasbank Para Piyasası,,,07.04.2022,08.04.2022,"3,377,000.00","3,377,000.00",
32,Takasbank Para Piyasası,,,07.04.2022,06.05.2022,"50,000,000.00","50,000,000.00",
33,Takasbank Para Piyasası,,,08.04.2022,11.04.2022,"29,870,000.00","29,870,000.00",
34,Takasbank Para Piyasası,,,08.04.2022,09.05.2022,"50,000,000.00","50,000,000.00",
35,Takasbank Para Piyasası,,,12.04.2022,13.04.2022,"4,534,000.00","4,534,000.00",
36,Takasbank Para Piyasası,,,13.04.2022,14.04.2022,"1,534,000.00","1,534,000.00",
37,Takasbank Para Piyasası,,,13.04.2022,13.05.2022,"21,000,000.00","21,000,000.00",
38,Takasbank Para Piyasası,,,13.04.2022,16.05.2022,"38,000,000.00","38,000,000.00",
39,Takasbank Para Piyasası,,,13.04.2022,18.05.2022,"18,000,000.00","18,000,000.00",
40,Takasbank Para Piyasası,,,13.04.2022,20.05.2022,"50,000,000.00","50,000,000.00",
41,Takasbank Para Piyasası,,,14.04.2022,16.05.2022,"25,000,000.00","25,000,000.00",
42,Takasbank Para Piyasası,,,14.04.2022,17.05.2022,"23,000,000.00","23,000,000.00",
43,Takasbank Para Piyasası,,,14.04.2022,18.05.2022,"30,000,000.00","30,000,000.00",
44,Takasbank Para Piyasası,,,15.04.2022,26.04.2022,"40,000,000.00","40,000,000.00",
45,Takasbank Para Piyasası,,,15.04.2022,27.04.2022,"40,000,000.00","40,000,000.00",
46,Takasbank Para Piyasası,,,15.04.2022,28.04.2022,"40,000,000.00","40,000,000.00",
47,Takasbank Para Piyasası,,,15.04.2022,29.04.2022,"40,000,000.00","40,000,000.00",
48,Takasbank Para Piyasası,,,18.04.2022,12.05.2022,"25,000,000.00","25,000,000.00",
49,12/05/2022 15:59:18,,,,,,,Sayfa 5 / 8

In [14]:
tables2[11]
tables2[11].parsing_report

{'accuracy': 100.0, 'whitespace': 19.84, 'order': 2, 'page': 6}

In [15]:
df11=tables2[11].df
df11

,0,1,2,3,4,5
0,Takasbank Para Piyasası,,18.04.2022,13.05.2022,"25,000,000.00","25,000,000.00"
1,Takasbank Para Piyasası,,20.04.2022,21.04.2022,"125,000,000.00","125,000,000.00"
2,Takasbank Para Piyasası,,21.04.2022,22.04.2022,"150,000,000.00","150,000,000.00"
3,Takasbank Para Piyasası,,22.04.2022,06.05.2022,"100,000,000.00","100,000,000.00"
4,Takasbank Para Piyasası,,22.04.2022,25.04.2022,"50,000,000.00","50,000,000.00"
5,Takasbank Para Piyasası,,22.04.2022,25.05.2022,"8,500,000.00","8,500,000.00"
6,Takasbank Para Piyasası,,22.04.2022,26.05.2022,"50,000,000.00","50,000,000.00"
7,Takasbank Para Piyasası,,22.04.2022,27.05.2022,"30,000,000.00","30,000,000.00"
8,Takasbank Para Piyasası,,25.04.2022,26.04.2022,"150,000,000.00","150,000,000.00"
9,Takasbank Para Piyasası,,26.04.2022,27.04.2022,"34,780,000.00","34,780,000.00"
10,Takasbank Para Piyasası,,26.04.2022,06.05.2022,"20,000,000.00","20,000,000.00"
11,Takasbank Para Piyasası,,26.04.2022,09.05.2022,"20,000,000.00","20,000,000.00"
12,Takasbank Para Piyasası,,26.04.2022,05.05.2022,"10,000,000.00","10,000,000.00"
13,Takasbank Para Piyasası,,27.04.2022,31.05.2022,"50,000,000.00","50,000,000.00"
14,VIII- İTFALAR,:,,,,
15,Menkul Kıymet Türü,İhraçcı Kurum,İtfa Tarihi,Nominal,,
16,TRFDZBK42212,DENIZBANK,01.04.2022,23000000.000000,,
17,TRFFNBK42213,FINANSBANK,01.04.2022,20000000.000000,,
18,TRFYAKF42212,YAPIKREDIFAKTORING,04.04.2022,12000000.000000,,
19,TRFYKBK42228,YAPIKREDIBANK,08.04.2022,10000000.000000,,
20,TRFVKFB42216,VAKIFBANK,15.04.2022,17360000.000000,,
21,TRFYKBK42269,YAPIKREDIBANK,15.04.2022,30000000.000000,,
22,TRFVKFB42232,VAKIFBANK,22.04.2022,24480000.000000,,
23,TRFYKBK42251,YAPIKREDIBANK,22.04.2022,50000000.000000,,
24,TRPTMKF42224,TMKSFIBA1,25.04.2022,3350000.000000,,
25,TRFTISB42225,ISBANK_C,26.04.2022,5000000.000000,,
26,TRFFNBK42254,FINANSBANK,29.04.2022,15000000.000000,,
27,TRFGRAN42218,GARANTIBANK,29.04.2022,33000000.000000,,
28,TRFYKBK42210,YAPIKREDIBANK,29.04.2022,30000000.000000,,
29,IX- PORTFÖYE ALIŞLAR,:,,,,
30,Menkul Kıymet Türü,İhraçcı Kurum,Alış Tarihi,Vade,Nominal,Alış Değeri
31,Devlet Tahvili Ters Repo,TRT171127T15,01.04.2022,04.04.2022,"49,669.00","50,000.00"
32,Devlet Tahvili Ters Repo,TRT171127T15,01.04.2022,04.04.2022,"240,396,557.00","242,000,000.00"
33,Devlet Tahvili Ters Repo,TRT171127T15,04.04.2022,05.04.2022,"297,540.00","300,000.00"
34,Devlet Tahvili Ters Repo,TRT171127T15,04.04.2022,05.04.2022,"391,760,147.00","395,000,000.00"
35,Devlet Tahvili Ters Repo,TRT171127T15,05.04.2022,06.04.2022,"287,465.00","290,000.00"
36,Devlet Tahvili Ters Repo,TRT171127T15,05.04.2022,06.04.2022,"471,838,389.00","476,000,000.00"
37,Devlet Tahvili Ters Repo,TRT171127T15,06.04.2022,07.04.2022,"403,237,798.00","407,000,000.00"
38,Devlet Tahvili Ters Repo,TRT180123T10,06.04.2022,07.04.2022,"280,409.00","270,000.00"
39,Devlet Tahvili Ters Repo,TRT171127T15,07.04.2022,08.04.2022,"722,866.00","730,000.00"
40,Devlet Tahvili Ters Repo,TRT171127T15,07.04.2022,08.04.2022,"418,865,801.00","423,000,000.00"
41,Devlet Tahvili Ters Repo,TRT180123T10,07.04.2022,08.04.2022,"46,037,965.00","43,000,000.00"

In [16]:
tables2[13]
tables2[13].parsing_report

{'accuracy': 100.0, 'whitespace': 0.0, 'order': 1, 'page': 7}

In [17]:
df13=tables2[13].df
df13

,0,1,2,3,4,5
0,Devlet Tahvili Ters Repo,TRT261022T10,07.04.2022,08.04.2022,"1,841,590.00","8,000,000.00"
1,Devlet Tahvili Ters Repo,TRT261022T10,07.04.2022,08.04.2022,"1,611,390.00","7,000,000.00"
2,Devlet Tahvili Ters Repo,TRT110827T16,08.04.2022,11.04.2022,"36,238,150.00","21,000,000.00"
3,Devlet Tahvili Ters Repo,TRT140126T11,08.04.2022,11.04.2022,"7,203,425.00","29,000,000.00"
4,Devlet Tahvili Ters Repo,TRT140126T11,08.04.2022,11.04.2022,"6,706,635.00","27,000,000.00"
5,Devlet Tahvili Ters Repo,TRT140623T19,08.04.2022,11.04.2022,"24,192,690.00","23,000,000.00"
6,Devlet Tahvili Ters Repo,TRT171127T15,08.04.2022,11.04.2022,"375,491,141.00","379,400,000.00"
7,Devlet Tahvili Ters Repo,TRT020823T11,11.04.2022,12.04.2022,"4,464,765.00","20,000,000.00"
8,Devlet Tahvili Ters Repo,TRT100124T17,11.04.2022,12.04.2022,"3,893,560.00","10,000,000.00"
9,Devlet Tahvili Ters Repo,TRT140126T11,11.04.2022,12.04.2022,"6,973,295.00","28,000,000.00"
10,Devlet Tahvili Ters Repo,TRT171127T15,11.04.2022,12.04.2022,"349,519,266.00","353,710,000.00"
11,Devlet Tahvili Ters Repo,TRT180625T13,11.04.2022,12.04.2022,"848,515.00","2,000,000.00"
12,Devlet Tahvili Ters Repo,TRT180625T13,11.04.2022,12.04.2022,"424,255.00","1,000,000.00"
13,Devlet Tahvili Ters Repo,TRT210235T10,11.04.2022,12.04.2022,"9,397,980.00","10,000,000.00"
14,Devlet Tahvili Ters Repo,TRT280628T18,11.04.2022,12.04.2022,"12,864,980.00","42,000,000.00"
15,Devlet Tahvili Ters Repo,TRT280628T18,11.04.2022,12.04.2022,"26,648,880.00","87,000,000.00"
16,Devlet Tahvili Ters Repo,TRT011025T16,12.04.2022,13.04.2022,"209,247,735.00","150,000,000.00"
17,Devlet Tahvili Ters Repo,TRT070727T13,12.04.2022,13.04.2022,"852,700.00","3,000,000.00"
18,Devlet Tahvili Ters Repo,TRT070727T13,12.04.2022,13.04.2022,"11,369,230.00","40,000,000.00"
19,Devlet Tahvili Ters Repo,TRT171127T15,12.04.2022,13.04.2022,"691,352.00","700,000.00"
20,Devlet Tahvili Ters Repo,TRT171127T15,12.04.2022,13.04.2022,"281,478,705.00","285,000,000.00"
21,Devlet Tahvili Ters Repo,TRT200923T18,12.04.2022,13.04.2022,"3,292,160.00","3,000,000.00"
22,Devlet Tahvili Ters Repo,TRT200923T18,12.04.2022,13.04.2022,"2,194,770.00","2,000,000.00"
23,Devlet Tahvili Ters Repo,TRT261022T10,12.04.2022,13.04.2022,"3,898,095.00","17,000,000.00"
24,Devlet Tahvili Ters Repo,TRT280628T18,12.04.2022,13.04.2022,"14,681,190.00","48,000,000.00"
25,Devlet Tahvili Ters Repo,TRT280628T18,12.04.2022,13.04.2022,"6,117,160.00","20,000,000.00"
26,Devlet Tahvili Ters Repo,TRT020823T11,13.04.2022,14.04.2022,"6,682,425.00","30,000,000.00"
27,Devlet Tahvili Ters Repo,TRT080328T15,13.04.2022,14.04.2022,"139,010,180.00","88,000,000.00"
28,Devlet Tahvili Ters Repo,TRT171127T15,13.04.2022,14.04.2022,"324,386,494.00","328,610,000.00"
29,Devlet Tahvili Ters Repo,TRT180625T13,13.04.2022,14.04.2022,"5,117,910.00","12,000,000.00"
30,Devlet Tahvili Ters Repo,TRT261022T10,13.04.2022,14.04.2022,"4,582,285.00","20,000,000.00"
31,Devlet Tahvili Ters Repo,TRT020823T11,14.04.2022,15.04.2022,"8,010,240.00","36,000,000.00"
32,Devlet Tahvili Ters Repo,TRT050624T19,14.04.2022,15.04.2022,"35,944,550.00","37,000,000.00"
33,Devlet Tahvili Ters Repo,TRT140126T11,14.04.2022,15.04.2022,"15,872,730.00","64,000,000.00"
34,Devlet Tahvili Ters Repo,TRT160425T17,14.04.2022,15.04.2022,"1,228,040.00","5,000,000.00"
35,Devlet Tahvili Ters Repo,TRT171127T15,14.04.2022,15.04.2022,"325,611.00","330,000.00"
36,Devlet Tahvili Ters Repo,TRT171127T15,14.04.2022,15.04.2022,"364,092,042.00","369,000,000.00"
37,Devlet Tahvili Ters Repo,TRT261022T10,14.04.2022,15.04.2022,"2,976,190.00","13,000,000.00"
38,Devlet Tahvili Ters Repo,TRT060825T15,15.04.2022,18.04.2022,"46,126,235.00","48,000,000.00"
39,Devlet Tahvili Ters Repo,TRT080726T13,15.04.2022,18.04.2022,"45,361,120.00","44,000,000.00"
40,Devlet Tahvili Ters Repo,TRT171127T15,15.04.2022,18.04.2022,"337,291,413.00","342,000,000.00"
41,Devlet Tahvili Ters Repo,TRT180123T10,15.04.2022,18.04.2022,"41,054.00","40,000.00"
42,Devlet Tahvili Ters Repo,TRT180625T13,15.04.2022,18.04.2022,"855,315.00","2,000,000.00"
43,Devlet Tahvili Ters Repo,TRT181023T19,15.04.2022,18.04.2022,"53,605,040.00","56,000,000.00"

In [18]:
tables2[15]
tables2[15].parsing_report

{'accuracy': 100.0, 'whitespace': 1.19, 'order': 2, 'page': 8}

In [19]:
df15=tables2[15].df
df15

,0,1,2,3,4,5
0,Devlet Tahvili Ters Repo,TRT020823T11,18.04.2022,19.04.2022,"20,383,220.00","92,000,000.00"
1,Devlet Tahvili Ters Repo,TRT140623T19,18.04.2022,19.04.2022,"110,653,980.00","108,000,000.00"
2,Devlet Tahvili Ters Repo,TRT171127T15,18.04.2022,19.04.2022,"108,323.00","110,000.00"
3,Devlet Tahvili Ters Repo,TRT171127T15,18.04.2022,19.04.2022,"335,798,488.00","341,000,000.00"
4,Devlet Tahvili Ters Repo,TRT171127T15,19.04.2022,20.04.2022,"177,176.00","180,000.00"
5,Devlet Tahvili Ters Repo,TRT171127T15,19.04.2022,20.04.2022,"359,273,187.00","365,000,000.00"
6,Devlet Tahvili Ters Repo,TRT171127T15,20.04.2022,21.04.2022,"659,093.00","670,000.00"
7,Devlet Tahvili Ters Repo,TRT171127T15,20.04.2022,21.04.2022,"253,799,621.00","258,000,000.00"
8,Devlet Tahvili Ters Repo,TRT171127T15,21.04.2022,22.04.2022,"914,410.00","930,000.00"
9,Devlet Tahvili Ters Repo,TRT171127T15,21.04.2022,22.04.2022,"266,456,913.00","271,000,000.00"
10,Devlet Tahvili Ters Repo,TRT140126T11,22.04.2022,25.04.2022,"4,465,635.00","18,000,000.00"
11,Devlet Tahvili Ters Repo,TRT171127T15,22.04.2022,25.04.2022,"167,095.00","170,000.00"
12,Devlet Tahvili Ters Repo,TRT171127T15,22.04.2022,25.04.2022,"277,179,847.00","282,000,000.00"
13,Devlet Tahvili Ters Repo,TRT280628T18,22.04.2022,25.04.2022,"2,111,525.00","7,000,000.00"
14,Devlet Tahvili Ters Repo,TRT080328T15,25.04.2022,26.04.2022,"41,372,245.00","29,000,000.00"
15,Devlet Tahvili Ters Repo,TRT171127T15,25.04.2022,26.04.2022,"215,875.00","220,000.00"
16,Devlet Tahvili Ters Repo,TRT171127T15,25.04.2022,26.04.2022,"298,299,502.00","304,000,000.00"
17,Devlet Tahvili Ters Repo,TRT280628T18,25.04.2022,26.04.2022,"6,302,275.00","21,000,000.00"
18,Devlet Tahvili Ters Repo,TRT171127T15,26.04.2022,27.04.2022,"500,629.00","510,000.00"
19,Devlet Tahvili Ters Repo,TRT171127T15,26.04.2022,27.04.2022,"315,101,304.00","321,000,000.00"
20,Devlet Tahvili Ters Repo,TRT171127T15,27.04.2022,28.04.2022,"343,407.00","350,000.00"
21,Devlet Tahvili Ters Repo,TRT171127T15,27.04.2022,28.04.2022,"196,232,340.00","200,000,000.00"
22,Devlet Tahvili Ters Repo,TRT171127T15,28.04.2022,29.04.2022,"294,208.00","300,000.00"
23,Devlet Tahvili Ters Repo,TRT171127T15,28.04.2022,29.04.2022,"97,088,332.00","99,000,000.00"
24,Devlet Tahvili Ters Repo,TRT171127T15,29.04.2022,05.05.2022,"250,281,864.00","255,290,000.00"
25,Katılım Hesabı,,04.04.2022,10.05.2022,"30,000,000.00","30,000,000.00"
26,Özel Sektör Tahvili,TRFDZBK92217,01.04.2022,08.04.2022,"30,000,000.00","27,702,600.00"
27,Özel Sektör Tahvili,TRFFNBK62278,01.04.2022,08.04.2022,"75,000,000.00","72,256,500.00"
28,Özel Sektör Tahvili,TRFISMD52274,01.04.2022,08.04.2022,"75,000,000.00","72,973,500.00"
29,Özel Sektör Tahvili,TRFTEBK62211,01.04.2022,08.04.2022,"100,000,000.00","96,962,000.00"
30,Özel Sektör Tahvili,TRFDZFK72210,08.04.2022,08.04.2022,"12,750,000.00","12,068,640.00"
31,Özel Sektör Tahvili,TRFISFN72259,08.04.2022,08.04.2022,"25,930,000.00","24,650,095.20"
32,Özel Sektör Tahvili,TRSARCL42412,13.04.2022,13.04.2022,"50,000,000.00","50,000,000.00"
33,Özel Sektör Tahvili,TRFDZBK82226,15.04.2022,26.08.2022,"30,000,000.00","28,480,800.00"
34,Özel Sektör Tahvili,TRFVKFB72221,15.04.2022,26.08.2022,"30,120,000.00","28,768,214.40"
35,Özel Sektör Tahvili,TRFYKBK72225,15.04.2022,26.08.2022,"40,000,000.00","38,072,400.00"
36,Özel Sektör Tahvili,TRFISFN82233,22.04.2022,26.08.2022,"10,090,000.00","9,517,392.50"
37,Özel Sektör Tahvili,TRFYKBK72233,22.04.2022,26.08.2022,"50,000,000.00","47,898,500.00"
38,Özel Sektör Tahvili,TRFAKBK82216,26.04.2022,02.08.2022,"50,000,000.00","47,756,000.00"
39,Özel Sektör Tahvili,TRFYKBK82216,29.04.2022,02.08.2022,"30,000,000.00","28,646,400.00"
40,Vadeli Mevduat,,19.04.2022,24.05.2022,"200,000,000.00","200,000,000.00"
41,Vadeli Mevduat,,26.04.2022,23.06.2022,"992,177,197.99","992,177,197.99"

In [ ]:
## TableList içindeki objeleri -> "page"'e göre sort
## sort edilmiş DF'ler olacak elimizde
# {'accuracy': 100.0, 'whitespace': 0.0, 'order': 1, 'page': 0}
# {'accuracy': 100.0, 'whitespace': 0.0, 'order': 1, 'page': 1}
# {'accuracy': 100.0, 'whitespace': 0.0, 'order': 1, 'page': 2}

In [36]:
tables[0].parsing_report

{'accuracy': 99.89, 'whitespace': 47.97, 'order': 1, 'page': 1}

In [38]:
tables[1].parsing_report

{'accuracy': 100.0, 'whitespace': 0.0, 'order': 1, 'page': 2}

In [39]:
tables[2].parsing_report

{'accuracy': 99.85, 'whitespace': 36.41, 'order': 1, 'page': 3}

In [41]:
for table in tables:
    print(table.parsing_report)

{'accuracy': 99.89, 'whitespace': 47.97, 'order': 1, 'page': 1}
{'accuracy': 100.0, 'whitespace': 0.0, 'order': 1, 'page': 2}
{'accuracy': 99.85, 'whitespace': 36.41, 'order': 1, 'page': 3}
{'accuracy': 99.85, 'whitespace': 36.41, 'order': 2, 'page': 3}
{'accuracy': 100.0, 'whitespace': 70.23, 'order': 1, 'page': 4}
{'accuracy': 99.98, 'whitespace': 29.56, 'order': 1, 'page': 5}
{'accuracy': 99.98, 'whitespace': 61.11, 'order': 2, 'page': 5}
{'accuracy': 100.0, 'whitespace': 33.81, 'order': 1, 'page': 6}
{'accuracy': 100.0, 'whitespace': 0.76, 'order': 1, 'page': 7}
{'accuracy': 100.0, 'whitespace': 0.76, 'order': 2, 'page': 7}

In [ ]:
## TODO:

# her sayfadaki DF'leri
# TEK BİR MEGA_DF'de birleştirelim ? 
# df1, df2, df3 ---> DF( df1 + df2 + df3 )